<ion-header>
  <ion-toolbar color="primary">
    <ion-button slot="start">
      <ion-back-button defaultHref="'/menu'"></ion-back-button>
    </ion-button>
    <ion-title>{{loadedMenuDetail?.title}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid class="ion-no-padding">
    <ion-row>
<ion-col class="ion-no-padding"><ion-img [src]="loadedMenuDetail?.imageUrl"></ion-img></ion-col>
</ion-row>
<ion-row>
  <ion-col>
    <h1 class="ion-text-center">{{ loadedMenuDetail?.title}}</h1>
  </ion-col>
</ion-row>
<ion-row>
  <ion-col>
    <ion-list>
      <ion-item *ngFor="let ds of loadedMenuDetail?.info">
        <ion-content>
          <ion-button expand="full" (click)="tutorialShown = !tutorialShown">
              <span>{{ds.name}}</span>
              <ion-icon id="tutorialIcon" name="arrow-dropdown" slot="end"></ion-icon>
          </ion-button>

          <ion-text id="tutorial" *ngIf="tutorialShown">
              {{ds.detail}}
          </ion-text>
      </ion-content>
      </ion-item>
    </ion-list>
  </ion-col>
</ion-row>
<ion-row>
  <ion-col>
    <ion-list>
      <ion-item *ngFor="let ds of loadedMenuDetail?.description">
        {{ ds }}
      </ion-item>
    </ion-list>
  </ion-col>
</ion-row>

</ion-grid>
</ion-content>
